.footer{
    background-color: $footer-background;
    color: getFontColor($footer-background);

    padding: 2rem 1.5rem;

    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li{
            flex-basis: 100%;
        }

        .footer__link{

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            @include breakpoint(md) {
                justify-content: center;
            }

            margin: 0.1rem 0;

            &:hover{
                @include font-style($font-weight : $f-w-semibold, $font-size : 1.1rem);
            }

            &--highlighted{
                @include font-style($font-weight : $f-w-semibold, $font-size : 1.1rem);
                &:hover{
                    @include font-style($font-weight : $f-w-bold, $font-size : 1.1rem);
                }
            }

            .icon{
                flex-basis: 2rem;
                &.fa-rotate{
                    transform: rotate(145deg);
                    transform-origin: 20% 40%;
                }
            }

            span{

            }

        }

    }

    &__logo{


        @include breakpoint(md) {
            text-align: center;

        }
    }


}