.section-cta{
    background-color: $section-background;
    padding: $layout-margin;
    text-align: center;
    &__title{
                @include breakpoint(md){
            font-size: 1.6rem;
            padding: 1rem 2.5rem 0 2.5rem;
        }
    }
    &__description{
        margin: 1rem 0 1.5rem 0;
        @include breakpoint(md){
            font-size: 1.2rem;
            margin: 1rem 0 2rem 0;
        }
    }
}

.section-tutorial{
    background-color: $background-base;
    padding: $layout-margin;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 0 2rem;


    @include breakpoint(md){
        display: block;
        margin: auto;
    }

    &__card{
        flex-basis: 100%;

        @include breakpoint(md){

            &:nth-child(1){
                text-align: center;
                padding-bottom: 1rem;

            }
            &:nth-child(n+2){
                width: 350px;
                margin: 1rem 0;

            }
        }
        @include breakpoint(xl){

            &:nth-child(n+2){
                width: 400px;
            }
        }
        &:nth-child(1){
            margin-bottom: 1.5rem;
        }
    }
}

.section-restaurants{
    background-color: $section-background;
    padding: $layout-margin;

    &__title{
        padding: 1rem 0;
        text-align: center;
    }

    &__list{
        padding: 1.5rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;

        .restaurant-card{
            flex-basis: 100%;
            margin-bottom: 1rem;

            @include breakpoint(md){
                flex-basis: calc(50% - 0.5rem);

                &:nth-child(odd){
                    margin-right: 1rem;
                }
            }
            @include breakpoint(md){
                flex-basis: calc(25% - 0.75rem);

                &:nth-child(odd){
                    margin-right: 0rem;
                }
                &:nth-child(-n+3){
                    margin-right: 1rem;

                }
            }


        }

    }
}



.section-rst-menu{
    position: relative;
    z-index: 1;
    background-color: $section-rst-detail;
    width: calc(100%);
    border-radius: $card-radius-lg;
    margin-top: -2rem;

    .whishlist{
        z-index: 1;
        position: absolute;
        width: 55px;
        height: 60px;
        right: 0;
        top: 0.8rem;

        &__heart {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 25px;
            .heart-stroke{
                stroke: $font-colour-dark;
                stroke-width: 5;
                fill: $section-rst-detail;
                opacity: 1;
                transition: all 0.4s ease-in-out;

                &:hover{
                    stroke: transparent;
                    opacity: 0;
                }
            }
            .heart-shape{
                stroke: url(#heart-gradient) $colour-primary;
                stroke-width: 5;
                fill: url(#heart-gradient) $colour-primary;
            }

        }
        @include breakpoint(md){
            width: 100px;
            height: 60px;
            top: 0.8rem;
            &__heart{
                width: 35px;
            }
        }


    }


    .dishes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        padding-bottom: 2rem;

        .dishes-list{
            padding: 1rem 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            flex-basis: 100%;

            @include breakpoint(md){
                flex-basis: calc(50% - 2rem);

                &:nth-child(3){
                    flex-basis: calc(50% - 2rem);
                    margin: auto;
                }
            }
            @include breakpoint(xl){
                flex-basis: calc(33.33333% - 2rem);

                &:nth-child(3){
                    flex-basis: calc(33.33333% - 2rem);
                    margin: auto;
                }

            }

            & .menu-card{

                flex-basis: 100%;
                margin: 0.5rem 0;


            }

        }

    }
    & .dishes-list__order{
        width: 100%;
        text-align: center;
        padding: 1rem 0 5rem 0;

    }




}