.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    color: getFontColor($colour-primary);
    border-radius: 25rem;
    text-decoration: none;
    box-shadow: $b-shadow;
    opacity: 1;
    transition: all 0.3s ease 0s;

    @include font-style($font-size: 1rem, $font-weight : $f-w-semibold);

    &:hover{
        opacity: 0.8;
        box-shadow: $b-shadow-hover;
        //background-image: linear-gradient(lighten($colour-secondary, 5%), lighten($colour-primary, 5%));
    }


}