.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    color: getFontColor($colour-primary);
    border-radius: 25rem;
    text-decoration: none;
    box-shadow:3px 3px 8px #999;

    @include font-style($font-size: 1rem, $font-weight : $f-w-semibold);


}