.section-tutorial__card{
    border-radius: 15px;
    margin: 0.6rem 0;
    &.card--styled{
        background-color: $section-background;
        box-shadow: $b-shadow;
        padding: 1.2rem 0;
        margin: 2rem auto 0 auto;
        line-height: $line-height;

        transition: background-color 200ms ease-in;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @include font-style($font-weight : $f-w-semibold, $font-size : 0.9rem);

        @include breakpoint(md){
            @include font-style($font-weight : $f-w-semibold, $font-size : 1rem);
        }

        .card__tile{
            &:nth-child(1){
                background-color: $colour-primary;
                color: getFontColor($colour-primary);
                border-radius: 50px;
                width: 25px;
                height: 25px;
                text-align: center;
                align-content: center;
                margin-left: -0.5rem;
            }
            &:nth-child(2){
                width: 55px;
                text-align: center;
                align-content: center;
            }
        }

        i{
            color: $font-colour-medium;
            transition: color 200ms ease-in;
        }

    }
    &:hover{
        background-color: $primary-active;
        i{
            color: $colour-primary;
        }
    }
}

.restaurant-card{
    position: relative;
    border-radius: $card-radius;
    background-color: $card-background;
    box-shadow: $b-shadow;
    line-height: $line-height;

    transition: transform 200ms ease-in-out;

    // Ajustement des images
    &:nth-child(1) .card-inner__img{
        object-position: 0 55%;
    }
    &:nth-child(2) .card-inner__img{
        object-position: 0 62%;
    }
    &:nth-child(3) .card-inner__img{
        object-position: 0 100%;
    }
    &:nth-child(4) .card-inner__img{
        object-position: 0 100%;
    }

    &.tag::after{
        content: $tag-new;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: $tag;
        color: darken($tag, 40%);
        padding: 0.3rem 0.8rem;
        @include font-style($font-weight : $f-w-semibold, $font-size : 0.9rem);

        @include breakpoint(md){
            padding: 0.4rem 1rem;
            @include font-style($font-weight : $f-w-semibold, $font-size : 1rem);
        }
    }


    & .card-inner{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        &__img{
            flex-basis: 100%;
            max-height: 135px;
            border-radius: $card-radius $card-radius 0 0;
            object-fit: cover;

            @include breakpoint(lg) {
                height: 225px;
            }
            @include breakpoint(xl) {
                height: 275px;
            }

        }


        &__description{
            position: relative;
            flex-basis: 100%;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .title{
                flex-basis: 100%;
                margin: 1rem 0 0 1rem;
            }
            .whishlist{
                z-index: 1;
                position: absolute;
                width: 80px;
                height: 60px;
                right: 0;

                &__heart {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 25px;
                    .heart-stroke{
                        stroke: $font-colour-dark;
                        stroke-width: 5;
                        fill: $font-colour-light;
                        opacity: 1;
                        transition: all 0.4s ease-in-out;

                        &:hover{
                            stroke: transparent;
                            opacity: 0;
                        }
                    }
                    .heart-shape{
                        stroke: url(#heart-gradient) $colour-primary;
                        stroke-width: 5;
                        fill: url(#heart-gradient) $colour-primary;
                    }

                }

            }
            .district{
                flex-basis: 100%;
                margin: 0 0 1rem 1rem;
            }
        }
    }

    &:hover{
        transform: scale(1.02);
    }
}



.section-rst-menu{


    div.menu-card{
        opacity: 0;
        @for $i from 1 through $num-menu-card--styled {
            &--#{$i} {
                animation: MenucardsFadeIn 600ms forwards ease-in-out;

                animation-delay: 2600ms + 200ms *$i ;
            }
        }


        &--styled{
            background-color: $card-background;
            border-radius: $card-radius-s;
            box-shadow: $b-shadow;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            transition: all 0.5s ease-in;

            .col-1{
                flex-grow: 1;
                padding: 0.5rem 0 0.5rem 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .col-2{
                flex-basis: 10%;
                padding: 0.5rem 0.8rem 0.5rem 0.2rem;
                text-align: right;
                align-self: flex-end;
            }
            .col-3{

                position: relative;
                flex-basis: 0%;

                height: 100%;
                border-radius: 0 $card-radius-s $card-radius-s 0;
                background-color: $colour-tertiary;

                transition: flex-basis 500ms ease-in-out;

                overflow: hidden;

                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(0);
                    color: $background-base;
                    transition: transform 400ms ease-in-out;
                    transition-delay: 100ms;
                }
            }

            &:hover{
                .col-3{
                    flex-basis: 20%;
                }
                i{
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }

            &:not(:hover){
                i{
                    transition: none;
                }
            }
        }

    }


}


@keyframes MenucardsFadeIn {
    0%{
        transform: translate(0, 15px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0, 0px);
    }
}
