@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


body {
    @include font-style($font-size : 1rem);
    @include breakpoint(md){
        @include font-style($font-size : 1.1rem);
    }
}

h1 {
    @include font-style($font-weight : $f-w-bold, $font-size : $font_size-h1);

    &.title__restaurant{
        padding: 2rem 1rem 0 1rem;
      font-family: $font-title, $font-default-title;
        @include breakpoint(xl){
            text-align: center;
            padding: 3rem 0 2rem 0;
        }

    }

}
h2 {
    @include font-style($font-weight : $f-w-bold, $font-size : $font_size-h2);

    &.menu-title{
        position: relative;
        @include font-style($font-size : $font-size-h2-menu);
        text-transform: uppercase;
        padding-bottom: 0.1rem;

        &:after{
            content : "";
            position: absolute;
            left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 10%;
            border-bottom:2px solid $colour-tertiary;
        }


    }
    &.footer__logo{
        padding: 1rem 0;
        font-family: $font-title, $font-default-title;
        @include breakpoint(xl){
            padding: 3rem 0 2rem 0;
        }

    }
}
h3 {
    @include font-style($font-weight : $f-w-bold, $font-size : $font_size-h3);

    &.dish-title{
        @include font-style($font-weight : $f-w-semibold, $font-size : 0.9rem);

        @include breakpoint(sm){
            @include font-style($font-weight : $f-w-semibold, $font-size : 1rem);
        }

    }
}

.dish-description{
    @include font-style($font-size : 0.8rem);

    @include breakpoint(sm){
        @include font-style($font-size : 0.9rem);
    }
    @include breakpoint(md){
        @include font-style($font-size : $font-size-base);
    }


}
.dish-price{
    @include font-style($font-weight : $f-w-semibold, $font-size : 0.8rem);

    @include breakpoint(sm){
        @include font-style($font-weight : $f-w-semibold, $font-size : 0.9rem);
    }
    @include breakpoint(md){
        @include font-style($font-weight : $f-w-semibold, $font-size : $font-size-base);
    }
}
