// Colours
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$primary-active : #F5EDFF;

$background-base : #FFF;
$input-background : #EAEAEA;
$section-background : #F6F6F6;
$section-rst-detail : #F4F4F4;
$card-background : #FFF;
$footer-background : #353535;

// Font colours
$font-colour-light : #FFF;
$font-colour-medium: #7E7E7E;
$font-colour-dark : #000;

$tag : #99E2D0;

// Box shadows
$b-shadow : 3px 3px 8px #D3D3D3;
$b-shadow-hover : 3px 3px 8px #666;

// Fonts basics variables
$font-size-base: 1rem;
$font-base: 'Roboto';
$font-title: 'Shrikhand';
$font-default : sans-serif;
$font-default-title : cursive;

$font-weight-base : 100;
$f-w-semibold : 400;
$f-w-bold : 700;

$line-height : 1.6rem;


// H1 Styles
$font_size-h1 : 1.5rem;

// H2 Styles
$font-size-h2 : 1.4rem;
$font-size-h2-menu : 0.8rem;

// H3 Styles
$font-size-h3 : 1.1rem;

// Special font size


//Layout margin

$layout-margin : 2.5rem 1.5rem;

// Breakpoint for responsive
$breakpoints:(
  xs: "320",
  sm: "576px",
  md: "768px",
  lg: "1024px",
  xl: "1200px",
  xxl: "1400px"
);

// Cards style
$card-radius-s : 15px;
$card-radius : 20px;
$card-radius-lg : 25px;

//tags
$tag-new: "Nouveau";

// SVG gradient heart
#stop-1 {
    stop-color: $colour-primary;
}

#stop-2 {
    stop-color: $colour-secondary;
}

// Animations
$num-menu-card--styled : 4;