// Colours
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$primary-active : #F5EDFF;

$background-base : #FFF;
$input-background : #EAEAEA;
$section-background : #F6F6F6;
$card-background : #FFF;
$footer-background : #353535;

// Font colours
$font-colour-light : #FFF;
$font-colour-dark : #000;

$tag : #99E2D0;

// Fonts basics variables
$font-size-base: 14px;
$font-base: 'Roboto';
$font-title: 'Shrikhand';
$font-default : sans-serif;
$font-default-title : cursive;

$font-weight-base : 100;
$f-w-semibold : 400;
$f-w-bold : 700;


// H1 Styles
$font_size-h1 : 1.5rem;

// H2 Styles
$font-size-h2 : 1.2rem;

// H3 Styles
$font-size-h3 : 1.1rem;

//Layout margin

$layout-margin : 1.5rem;

// Breakpoint for responsive
$breakpoints:(
  xs: "320",
  sm: "576px",
  md: "768px",
  lg: "1024px",
  xl: "1200px",
  xxl: "1400px"
);